body {
    margin: 0;
    padding: 0;
}

main{
    background-color: #CCC;
}

.carousel {
    height: 37vw;
    width: 100%;
    margin: 0 0;
}

.pesquisa-produtos {
    width: 96%;
    margin: 1vw 2vw;
}

    .pesquisa-produtos select[id$="DDLMarcas"]{
        margin-left: 10%
    }

    .pesquisa-produtos select[id$="DDLMarcas"], select[id$="DDLNome"], select[id$="DDLCambio"], input[type=submit] {
        height: 3.5vw;
        width: 20%;
        border-radius: 10px;
        border: none;
    }   
    

.amostra-produtos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.produto {
    max-width: 23%;
    margin: 1vw 1%;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
}

.img-produto {
    width: 100%;
}

    .img-produto img {
        max-width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

.descricao-produto {
    width: 100%;
}

.marca-descricao-produto {
    width: 96%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
    align-items: center;
}

.marca-imagem {
    width: 25%;
    height: 100%;
}

    .marca-imagem img {
        min-width: 90%;
        max-width: 90%;
        height: auto;
    }


.ver-parcelas {
    width: 50%;
    max-height: 70%;
    float: right;
    margin-top: 1%;
}

    .ver-parcelas button {
        color: #FFF;
        background-color: blue;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 11px;
        border: none;
        max-height: 100%;
        max-width: 100%;
        text-align: center;
    }

.nome-veiculo {
    margin: 0 2%;
    font-weight: bold;
}

.info-descricao-produto {
    margin: 0 2%;
}

.valor-produto {
    margin: 0 2%;
    margin-bottom: 1vw;
    font-weight: bold;
}

.produto label {
    color: black;
    margin-top: 2%;
}

h3{
    text-align: center;
}

@media (max-width: 500px) {
    .amostra-produtos{
        justify-content: center;
    }
    .produto{
        min-width: 80%;
    }
    .img-produto{
        min-width: 100%;
    }

        .img-produto img {
            min-width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
        }

    .descricao-produto {
        min-width: 100%;
    }

    .marca-descricao-produto {
        width: 96%;
        display: flex;
        height: 15vw;
        justify-content: space-between;
        margin: 0 2%;
        align-items: center;
    }
        .ver-parcelas button{
            height: 100%;
            font-size: 15px;
        }

    .nome-veiculo {
        font-size: 30px;
    }

    .info-descricao-produto {
        font-size: 30px;
    }

    .valor-produto {
        font-size: 30px;
    }
}

@media (min-width: 501px) and (max-width: 730px){
    .amostra-produtos {
        justify-content: center;
    }

    .produto {
        min-width: 43%;
    }

    .marca-descricao-produto {
        height: 15vw;
        align-items: center;
    }


        .marca-imagem {
            width: 45%;
            height: auto;
        }
        .ver-parcelas button {

            font-size: 10px;
        }

    .nome-veiculo {
        font-size: 16px;
    }

    .info-descricao-produto {
        font-size: 16px;
    }

    .valor-produto {
        font-size: 16px;
    }
}

@media (min-width:731px) and (max-width:900px){
    .amostra-produtos {
        justify-content: center;
    }

    .produto {
        min-width: 43%;
    }

    .marca-descricao-produto {
        height: 10vw;
        align-items: center;
    }


    .marca-imagem {
        width: 35%;
        height: auto;
    }

    .ver-parcelas button {
        font-size: 10px;
        width: 70%;
        height: 6vw;
    }

    .nome-veiculo {
        font-size: 16px;
    }

    .info-descricao-produto {
        font-size: 16px;
    }

    .valor-produto {
        font-size: 16px;
    }
}

@media (min-width:900px) and (max-width: 1075px) {
    .amostra-produtos {
        justify-content: center;
    }

    .produto {
        min-width: 23%;
    }

    .marca-descricao-produto {
        height: 8vw;
        align-items: center;
    }


    .marca-imagem {
        width: 35%;
        height: auto;
    }

    .ver-parcelas button {
        font-size: 10px;
        width: 95%;
        height: 4vw;
    }

    .nome-veiculo {
        font-size: 16px;
    }

    .info-descricao-produto {
        font-size: 16px;
    }

    .valor-produto {
        font-size: 16px;
    }
}